<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDAO">
    <resultMap id="s2" type="com.baizhi.entity.Album">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="img" property="img"/>
            <result column="autho" property="autho"/>
            <result column="star" property="star"/>
            <result column="count" property="count"/>
            <result column="broadcast" property="broadcast"/>
            <result column="date" property="date"/>
            <result column="brief" property="brief"/>
        <collection property="children" ofType="com.baizhi.entity.Chapter">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="csize" property="size"/>
            <result column="cduration" property="duration"/>
            <result column="cdate" property="date"/>
            <result column="chref" property="href"/>
            <result column="caid" property="aid"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="s2">
        select a.id,a.name,a.img,a.autho,a.star,a.count,a.broadcast,a.date,a.brief,
                c.id cid,c.name cname,c.size csize,c.duration cduration,c.date cdate,c.href chref,c.aid caid
                from album a left join chapter c on a.id = c.aid
    </select>

    <select id="queryById" parameterType="int" resultMap="s2">
        select a.id,a.name,a.img,a.autho,a.star,a.count,a.broadcast,a.date,a.brief,
                c.id cid,c.name cname,c.size csize,c.duration cduration,c.date cdate,c.href chref,c.aid caid
                from album a left join chapter c on a.id = c.aid where a.id=#{id}
    </select>

    <select id="queryByPage" resultMap="s2">
       select a.id,a.name,a.img,a.autho,a.star,a.count,a.broadcast,a.date,a.brief,
                c.id cid,c.name cname,c.size csize,c.duration cduration,c.date cdate,c.href chref,c.aid caid
                from album a left join chapter c on a.id = c.aid limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(a.id) from chapter c inner join album a on c.aid = a.id
    </select>




    <insert id="insert" parameterType="com.baizhi.entity.Album">
        <selectKey order="AFTER" resultType="int" keyProperty="id">select LAST_INSERT_ID()</selectKey>
        insert into album(name,img,autho,star,count,broadcast,date,brief)
          values(#{name},#{img},#{autho},#{star},#{count},#{broadcast},#{date},#{brief})
    </insert>


</mapper>
