<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleDAO">

    <select id="queryByPage" resultType="com.baizhi.entity.Article">
       select id,name,content,date,img,author from article limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(id) from article
    </select>


    <insert id="insert" parameterType="com.baizhi.entity.Article">
        <selectKey order="AFTER" resultType="int" keyProperty="id">select LAST_INSERT_ID()</selectKey>
        insert into article(name,content,date,img,author) values(#{name},#{content},#{date},#{img},#{author})
    </insert>

    <delete id="delete" parameterType="int">
        delete from article where id = #{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Article">
        update article set name=#{name},content=#{content},date=#{date},img=#{img},author=#{author} where id=#{id}
    </update>
</mapper>
