<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDAO">
    <select id="queryAll" resultType="com.baizhi.entity.Chapter">
        select * from chapter
    </select>

    <select id="queryById" parameterType="int" resultType="com.baizhi.entity.Chapter">
        select * from chapter where id=#{id}
    </select>


    <insert id="insert" parameterType="com.baizhi.entity.Chapter">
        <selectKey order="AFTER" resultType="int" keyProperty="id">select LAST_INSERT_ID()</selectKey>
        insert into chapter(name,size,duration,date,href,aid) values(#{name},#{size},#{duration},#{date},#{href},#{aid})
    </insert>


</mapper>
